

﻿<body>
        <div class = "container">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card-body">
                    <input type="file" name="file" (change)="fileChange($event.target.files)" placeholder="Upload file" accept=".bmp">
                        <div *ngIf = "classificationResult">
                            <div class = "success" *ngIf = "classificationResult.isDrug"> {{classificationResult.output}} - ліки.</div>
                            <div class = "fail" *ngIf = "!classificationResult.isDrug"> {{classificationResult.output}} - не ліки.</div>
                        </div>
                </div>
            </div>
        </div>
</body>